/* Add your CSS Below */

    .one{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 300px;

}
.one div:nth-child(1){
    position: relative;
    bottom: 33%;

}
.one div:nth-child(2){
    position: absolute;
    left: 10%;
    top: 17%;
    z-index: 1;
  }

.two {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    
    
    
}
.two div:nth-child(3){
    position: relative;
    right: 43.5%;
    top:0;
}
.three{
    display:flex;
    flex-direction: column;
    max-height: 260px;
    
    


}
.three div:nth-child(1){
    position: sticky;
    left: 87.2%;
    top: 66.4%;
}
.three div:nth-child(2){
    position: static;
    margin: 0px;
    
}
.three div:nth-child(3){
    position: static;
    margin: 0px;
}